---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Contato</h3>
            <form method="POST" action="https://formspree.io/oliveiraealvesadvocacia@gmail.com">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Nome*" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Telefone com DDD">
                </div>
                <div class="form-field">
                    <input name="whatsapp" type="tel" placeholder="WhatsApp com DDD">
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="E-mail*" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Escreva aqui a sua mensagem" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Enviar">
            </form>
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contato</h3>
        <ul>
            {% if site.contact.phone %}<li><img width='18px' src='{{site.baseurl}}/img/redes/phone.png'> <strong>Telefone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.whatsapp %}<li><a href="https://wa.me/{{site.contact.whatsapp}}"><img width='18px' src='{{site.baseurl}}/img/redes/whatsapp.png'></a> <strong>WhatsApp:</strong> {{ site.contact.whatsapp }}</li>{% endif %}
            {% if site.contact.email %}<li><strong><img width='18px' src='{{site.baseurl}}/img/redes/email.png'> Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Endereço</h3>
            <p>
                {{ site.contact.address_line1 }}<br />
                {{ site.contact.address_line2 }}<br />
                {{ site.contact.address_line3 }}<br />
                {{ site.contact.address_line4 }}
            </p>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Horário de Atendimento</h3>
        <table>
            <tbody>
                <tr>
                    <td>Segunda à Sexta</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">O PPGEM-EEL</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>PPGEM-EEL-USP</h3>
                <p>O Programa de Pós-Graduação em Engenharia de Materiais (PPGEM) é um dos programas de pós-graduação stricto-sensu (mestrado e doutorado) da Escola de Engenharia de Lorena (EEL) da Universidade de São Paulo (USP).  

                <p> As atividades de pesquisa são bem abrangentes em assuntos envolvendo processamento, caracterização e aplicações de metais/ligas metálicas, cerâmicas, polímeros e compósitos.</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-briefcase"><use xlink:href="#icon-briefcase"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>As atividades de ensino e pesquisa associadas ao programa são desenvolvidas principalmente na Área II da EEL/USP, localizado na cidade de Lorena (São Paulo).</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Contamos atualmente com 19 professores doutores com formação nas áreas de Engenharia de Materiais, Engenharia Mecânica, Engenharia Química, Engenharia Aeroespacial, Eletroquímica e Física.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>O Programa foi criado em 1988 e até setembro/2017 foram defendidas 235 Dissertações de Mestrado e 111 Teses de Doutorado.</p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Our team -->
<div id="team" class="team">
    <h2 class="section-title">Docentes</h2>
    <!-- <h4 class="section-title"><i>Clique na foto do docente para mais informações</i></h4> -->
    <ul id="team-slider">
    {% for member in site.docentes %}
    <li>
        
        <div class="container-slider">
                <img src="{{ site.baseurl }}/img/docentes/{{ member.image }}.jpg" alt="{{ member.nome }}" class="image-slider">
            <div class="middle-slider">
              <div class="text-slider"><h4>
                <a href="{{site.baseurl}}{{member.url}}">{{ member.nome }}</div>
                </a></h4>
            </div>
          </div>
        </li>
    {% endfor %}
    </ul>
</div>
<!-- End Our team -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Informações</h2>
        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4" >
                    <div class="icon-box" style="text-align: left;">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description | markdownify }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Testimonials -->
<h2 class="section-title">Última defesas</h2>
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-slider">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.titulo }}</p>
                            <p>{{testimonial.tipo}}</p>
                            <footer>
                                {{ testimonial.aluno }}
                                <small>
                                    Orientador: {{ testimonial.orientador }}
                                    <br>
                                    {{ testimonial.data }}
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->



<!-- Start Gallery -->
<div id="gallery" class="gallery">

    <h2 class="section-title">Notícias</h2>

    {% for noticia in site.posts limit:3 %}
        <a href="{{ site.baseurl }}{{ noticia.url }}" class="gallery-item expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/noticias/{{ noticia.img }}" alt="{{ noticia.titulo }}" style="height:250px">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg> {{noticia.titulo_br}}</span>
            </div>
        </a>
    {% endfor %}
<p>&nbsp;</p>
<p><button class='btn btn-default'>Mais notícias</button></p>
</div>
<!-- End Gallery -->

<!-- Start Map -->
<div id="location">

  <style>
      .google-maps {
          position: relative;
          /* padding-bottom: 34%; // This is the aspect ratio */
          height: 450;
          /* overflow: hidden; */
      }
      .google-maps iframe {
          position: relative;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100% !important;
      }
  </style>



<div class="google-maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.9470956479527!2d-45.103713884634445!3d-22.76734453863496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cccee8f52ac92d%3A0x3fb4f2c6db979ce6!2sEscola%20de%20Engenharia%20de%20Lorena%20-%20%C3%81rea%20II!5e0!3m2!1sen!2sbr!4v1612183822510!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- End Map -->

</div>

<div id='contact'>

  <!-- Start 3 columns -->
  <div class="three-shade-col">
      <div class="col-sm-4">
          <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
          <h3>Contato</h3>
          <ul>
            {% if site.contact.phone %}<li><img width='18px' src='{{site.baseurl}}/img/redes/phone.png'> <strong>Telefone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.whatsapp %}<li><a href="https://wa.me/{{site.contact.whatsapp}}"><img width='18px' src='{{site.baseurl}}/img/redes/whatsapp.png'></a> <strong>WhatsApp:</strong> {{ site.contact.whatsapp }}</li>{% endif %}
            {% if site.contact.email %}<li><strong><img width='18px' src='{{site.baseurl}}/img/redes/email.png'> Email:</strong> {{ site.contact.email }}</li>{% endif %}
          </ul>
      </div>
      <div class="col-sm-4">
          <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
          <h3>Endereço</h3>
              <p>
                  {{ site.contact.address_line1 }}<br />
                  {{ site.contact.address_line2 }}<br />
                  {{ site.contact.address_line3 }}<br />
                  * {{ site.contact.address_line4 }}
              </p>
      </div>
      <div class="col-sm-4">
          <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
          <h3>Horário de Atendimento</h3>
          <table>
              <tbody>
                  <tr>
                      <td>Segunda à Sexta</td>
                      <td>{{ site.monday_friday }}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>{{ site.saturday }}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>{{ site.sunday }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <!-- End 3 columns -->

</div>
