<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title"> </h2>
        <div class="row">
            <div class="col-sm-6">
                <h3>{% t secoes.programa %}</h3>
                <p>{% t about.text1 %}</p>
                <p>{% t about.text2 %}</p>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-briefcase"><use xlink:href="#icon-briefcase"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>A{% t about.text3 %}</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>{% t about.text4 %}</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>{% t about.text5 %}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container-fluid">
                    <div class=" form">
                        <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg> {% t secoes.contato %}</h3>
                        <form method="POST" action="https://formspree.io/oliveiraealvesadvocacia@gmail.com">
                            <div class="form-field">
                                <input name="name" type="text" placeholder="{% t form.nome %}" required>
                            </div>
                            <div class="form-field">
                                <input name="phone" type="tel" placeholder="{% t form.telefone %}">
                            </div>
                            <div class="form-field">
                                <input name="whatsapp" type="tel" placeholder="{% t form.whatsapp %}">
                            </div>
                            <div class="form-field">
                                <input name="email" type="email" placeholder="{% t form.email %}" required>
                            </div>
                            <div class="form-field">
                                <textarea name="comments" placeholder="{% t form.mensagem %}" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-default" value="{% t form.enviar %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>