<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title"> </h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>{% t secoes.programa %}</h3>
                <p>{% t about.text1 %}</p>

                <p> As atividades de pesquisa são bem abrangentes em assuntos envolvendo processamento, caracterização e aplicações de metais/ligas metálicas, cerâmicas, polímeros e compósitos.</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-briefcase"><use xlink:href="#icon-briefcase"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>As atividades de ensino e pesquisa associadas ao programa são desenvolvidas principalmente na Área II da EEL/USP, localizado na cidade de Lorena (São Paulo).</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-group"><use xlink:href="#icon-group"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Contamos atualmente com 19 professores doutores com formação nas áreas de Engenharia de Materiais, Engenharia Mecânica, Engenharia Química, Engenharia Aeroespacial, Eletroquímica e Física.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>O Programa foi criado em 1988 e até setembro/2017 foram defendidas 235 Dissertações de Mestrado e 111 Teses de Doutorado.</p></p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="container-fluid">
                    <div class=" form">
                        <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg> {% t secoes.contato %}</h3>
                        <form method="POST" action="https://formspree.io/oliveiraealvesadvocacia@gmail.com">
                            <div class="form-field">
                                <input name="name" type="text" placeholder="Nome*" required>
                            </div>
                            <div class="form-field">
                                <input name="phone" type="tel" placeholder="Telefone com DDD">
                            </div>
                            <div class="form-field">
                                <input name="whatsapp" type="tel" placeholder="WhatsApp com DDD">
                            </div>
                            <div class="form-field">
                                <input name="email" type="email" placeholder="E-mail*" required>
                            </div>
                            <div class="form-field">
                                <textarea name="comments" placeholder="Escreva aqui a sua mensagem*" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-default" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End About -->