<div id='contact'>
    <div class="three-shade-col">
        <div class="col-sm-4">
            <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
            <h3>{% t secoes.contato %}</h3>
            <ul>
              {% if site.contact.phone %}<li><img style="width:18px" src='{{site.baseurl_root}}/img/redes/phone.png'> <strong>{% t global.telefone %}:</strong> {{ site.contact.phone }}</li>{% endif %}
              {% if site.contact.whatsapp %}<li><a href="https://wa.me/{{site.contact.whatsapp}}"><img style="width:18px" src='{{site.baseurl_root}}/img/redes/whatsapp.png'></a> <strong>WhatsApp:</strong> {{ site.contact.whatsapp }}</li>{% endif %}
              {% if site.contact.email %}<li><strong><img style="width:20px" src='{{site.baseurl_root}}/img/redes/email.png'> Email:</strong> {{ site.contact.email }}</li>{% endif %}
            </ul>
            <p style="margin-top: 5px;"><a class='scroll btn btn-primary' href="#about">{% t global.form %}</a></p>
        </div>
        <div class="col-sm-4">
            <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
            <h3>{% t secoes.endereco %}</h3>
                <p>
                    {{ site.contact.address_line1 }}<br />
                    {{ site.contact.address_line2 }}<br />
                    {{ site.contact.address_line3 }}<br />
                    {{ site.contact.address_line4 }}
                </p>
        </div>
        <div class="col-sm-4">
            <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
            <h3>{% t secoes.atendimento %}</h3>
            <table>
                <tbody>
                    <tr>
                        <td>{% t global.monday_friday %}</td>
                        <td>{{ site.monday_friday }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ site.saturday }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ site.sunday }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
