<script type="text/javascript">

    $(document).ready(function() {        
        $('#team-slider').lightSlider({
            // autoWidth:true,
            item:6,
            loop:true,
            auto:true,
            pause: 2000,
            // slideMove:1,
            pauseOnHover: true,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            // speed:600,
            responsive : [
                {
                    breakpoint:800,
                    settings: {
                        item:3,
                        slideMove:1,
                        slideMargin:6,
                    }
                },
                {
                    breakpoint:480,
                    settings: {
                        item:2,
                        slideMove:1
                    }
                }
            ]
        });
    });  

    $(document).ready(function() {        
        $('#testimonial-slider').lightSlider({
            // autoWidth:true,
            item:1,
            loop:true,
            auto:true,
            pause: 2000,
            // slideMove:1,
            pauseOnHover: true,
            // easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            // speed:600,
        });  
    });

</script>