<div id="team" class="team">
    <h2 class="section-title">{% t secoes.docentes %}</h2>
    <!-- <h4 class="section-title"><i>Clique na foto do docente para mais informações</i></h4> -->
    <div id="team-carousel">
    {% for member in site.docentes %}
    <div class="expandable-box">
        <div class="expandable-box-top">
            <a href="{{site.baseurl}}{{member.url}}">
                <img src="{{ site.baseurl_root }}/img/docentes/{{ member.image }}.jpg" alt="{{ member.nome }}" style="height:200px; object-fit:contain">
            </a>
            <h4>{{ member.nome }}</h4>
            <p><b>{% t docentes.areas %}</b>
                {% if site.lang == 'br' %}
                    {% assign areas = member.pesquisa.br %}
                {% else %}
                {% assign areas = member.pesquisa.en %}
                {% endif %}
                {% for area in areas %}
                    {{area}}{% if forloop.last %}.{% else %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="expandable-box-bottom">
            <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
            <a href="tel:{{ member.fone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.fone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
